:root {
  --bs-primary: rgb(252, 86, 3);
}

body {
  font-family: 'Poppins', sans-serif;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-primary:hover {
  background-color: rgb(242, 81, 18);
  border-color: rgb(255, 86, 3);
}

.text-primary {
  color: var(--bs-primary) !important;
}

.bg-primary {
  background-color: var(--bs-primary) !important;
  color: white;
}

.dropdown-item:active {
  background-color: var(--bs-primary) !important;
}

.btn:active {
  background-color: var(--bs-primary) !important;
}
